extends ../../layout
block content
	.container
		.form-container
			h3 #{title}		
			.row
				//- form()
				//- 	each dep in data
					//- 	p
					//- 		input#test1(name='department_id', value=dep.id, type='radio')
					//- 		label(for='test1') #{dep.data().name}
					//- 	//- p
					//- 	//- 	input#test2(name='group1', type='radio')
					//- 	//- 	label(for='test2') Yellow
					//- 	//- p
					//- 	//- 	input#test3.with-gap(name='group1', type='radio')
					//- 	//- 	label(for='test3') Green
					//- 	//- p
					//- 	//- 	input#test4(name='group1', type='radio', disabled='disabled')
					//- 	//- 	label(for='test4') Brown
					//- button.waves-effect.waves-light.btn(type="submit") Next
			form.col.s12
				.row
					.input-field.col.s4#allSelection
						select#dept()
							option(value="" selected disabled) Select Department
							each dep in data
								option(value=dep.id) #{dep.data().name}
						label Department
				.row(onclick="gotoAisle()")
					a.waves-effect.waves-light.btn#but(onclick="spinner()") Next
			//- .progress#show-progress
			//- 	.indeterminate