extends ../layout
block content
	.container
		//- h6 #{admin}
		.user-page-container
			table.centered
				thead
					tr
						th Name
						th Email
						th Telephone
						th Verified
						th Admin
						th Editor
						th Gen. User
						th Created At
						th Last Sign In
						th Disabled
						- if (admin)
							th
							th

				tbody
					each user in users
						tr
							- if (user.displayName)
								td= user.displayName
							- else
								td User Name
							td= user.email
							- if (user.phoneNumber)
								td= user.phoneNumber
							- else
								td +44 2082001892
							td= user.emailVerified
							- if(user.customClaims && user.customClaims.admin)
								td= user.customClaims.admin
							- else
								td false
							- if(user.customClaims && user.customClaims.editor)
								td= user.customClaims.editor
							- else
								td false
							- if(user.customClaims && user.customClaims.general)
								td= user.customClaims.general
							- else
								td false
							td= user.metadata.creationTime
							td= user.metadata.lastSignInTime
							td= user.disabled
							- if (admin)
								td
									a(href=`/updateuser/${user.uid}` onclick="spinner()")
										i.material-icons assignment
								//- td(onclick="editUser(this.id)" id=user.uid)
								//- 	i.material-icons edit
								td(onclick="deleteUser(this.id)" id=user.uid)
									i.material-icons delete_forever

