extends ../layout
block content
	.container
		.category-container
			p(style="text-align: center; margin-top: 40px;") #{title}
				ul.collection#dept-container
					each val in data
						li.collection-item.avatar
							//- img.circle(src='/images/deli.jpg', alt='')
							a(onclick="spinner()" href=`/product/new/${val.id}`)
								i.material-icons.circle add
							a.title(onclick="spinner()" href=`/product/new/${val.id}`)
								= val.data().name
							p
								= val.data().group
							a.secondary-content(href='#!')
								i.material-icons(aria-hidden='true' onclick="deleteCategory(this.id)" id=val.id) close
			.add-btn
				button.btn.waves-effect.waves-light(onclick="goBack()")
					| back
					i.material-icons.left arrow_back
				button.btn.btn-primary(onclick="addForm()") Add Category
	.card-container#form-holder
		#card
			.row
				.col.s12.m6
					.card
						.card-content.gray-text
							.closeIcon
								i.material-icons(aria-hidden='true' onclick="removeForm()") close
							.row
								form.col.s12(method="POST", action="/category")
									input#id.validate(hidden type='text' value=params.department_id name = 'department_id')
									input#id.validate(hidden type='text' value=params.aisle_id name = 'aisle_id')
									.row
										.input-field.col.s12
											input#name.validate(type='text' name = 'name')
											label(for='name', data-error='wrong', data-success='right') Name
										.input-field.col.s12
											input#group.validate(type='text' name = 'group')
											label(for='group', data-error='wrong', data-success='right') Group
	
									button.waves-effect.waves-light.btn(type='submit' onclick="showProgress()") Submit Category
						.progress#show-progress
							.indeterminate