extends layout
block content
	.container.main-container
		//- h1 #{title}

		.page-container
			//- .row
			- if (data.length > 0)
				each vid in data
					.adv
						.single-advert.card
							.card-image
								.embed-responsive.embed-responsive-16by9
									iframe.embed-responsive-item(src=vid.youtube_link, frameborder="0", allowfullscreen='')
								.deleteBtn
									a(href=`/youtube/${vid.id}`)
										i.material-icons() clear
								//- span.card-title
								//- 	= vid.name
								//- a.btn-floating.halfway-fab.waves-effect.waves-light.red()
								//- 	i.material-icons() edit
							.card-content
								p= vid.name
								small= vid.tag
		.row
			.col.l2
				.addButton
					a.waves-effect.waves-light.btn(onclick="addForm()") Add Video
			.col.l10
				- if (data && data.length < 1)
					.noAdvert
						p There is no advert to display. please add some!

	.card-container#form-holder.advert-page
		#card
			.row
				.col.s12.m6
					.card
						.card-content.gray-text
							.closeIcon
								i.material-icons(aria-hidden='true' onclick="removeForm()") close
							.row
								form.col.s12(method="POST", action="/youtube/add")
									#formInput
									//- input#id.validate(hidden type='text' value="params.department_id" name = 'department_id')
									//- input#id.validate(hidden type='text' value="params.aisle_id" name = 'aisle_id')
									.row
										.input-field.col.s12
											input#name.validate(type='text' name = 'name')
											label(for='name', data-error='wrong', data-success='right') Name
										.input-field.col.s12
											input#tag.validate(type='text' name = 'tag')
											label(for='tag', data-error='wrong', data-success='right') Tag
									.row
										.input-field.col.s12
											input#link.validate(type='text' name = 'youtube_link')
											label(for='link', data-error='wrong', data-success='right') Link
	
									button.waves-effect.waves-light.btn(type='submit' onclick="showProgress()") Submit Youtube
						.progress#show-progress
							.indeterminate