extends ../../layout
block content
	.container
		.product-show.card
			a(href=`/product/edit/${id}`)
				i.material-icons() edit
			.d-flex.flex-row.justify-content-between

				.p-2.d-flex.flex-column.product-content
					.d-flex.irow
						.p-2
							p Name
						.p-2
							p #{data.name}
					.d-flex.irow
						.p-2
							p Code
						.p-2
							p #{data.code}
					.d-flex.irow
						.p-2
							p Name
						.p-2
							p #{data.price}
							p #{data.old_price}
					.d-flex.irow
						.p-2
							p Stock
						.p-2
							p #{data.stock}
							
				.p-2.product-image
					.image
						p#prodId(style="opacity: 0") #{id}
						img#returnImage(src=data.imageUrl alt="Photo")
						#imageAlert
						.productImage
							a.btn() Add
							input#inputbox(type="file" name="productImage")
						
							
							//- p #{data.imageUrl}




			//- .row
			//- 	.col.s9.product-content
			//- 		.row
			//- 			.col.s3
			//- 				p Name
			//- 			.col.s9
			//- 				p #{data.name}
			//- 		.row
			//- 			.col.s3
			//- 				p Code
			//- 			.col.s9
			//- 				p #{data.code}
			//- 		.row
			//- 			.col.s3
			//- 				p Price
			//- 			.col.s9
			//- 				p #{data.price}
			//- 				p #{data.old_price}
			//- 		.row
			//- 			.col.s3
			//- 				p Stock
			//- 			.col.s9
			//- 				p #{data.stock}
			//- 	.col.s3.product-image
			//- 		.image
			//- 			p #{data.imageUrl}